div.block_1>ul>li:nth-child(even){
    color:pink;
}

div.block_2>ul>li:nth-child(odd){
    font-size: 22px;
}

div.block_3>ul>li:nth-child(2n+4)::after{
        content: "!";
}

div.block_4>ul>li:last-child{
    color:purple;
}

div.block_5>ul>li::first-letter{
    font-size: 30px;
    color:red;
}
