*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type:  none;
    scroll-behavior: smooth;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0 100px;
    gap: 40px;
}
section a{
    color: black;
    font-size: 50px;
    width: 10%;
}
#section-top{
    background-color: #bd675f;
}
#section-middle{
    display: flex;
    background-color: #93f1e1;
}
#section-bottom{
    background-color: #5cd677;
}
