.cards {
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 64px 0;
    gap: 32px;
    font-family: "Inter", sans-serif;
}

.card {
    width: 372px;
    margin-bottom: 32px;
    text-align: center;
    align-self: stretch;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 20px 0 15px 0;
}

.card p {
    font-size: 13px;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
